<%= simple_form_for [@forum, @topic] do |f| %>
  <% if @topic.errors.any? %>
    <% flash.now[:error] = @topic.errors.full_messages.join(', and ') %>
  <% end %>
  <div class="module">
    <div class="module_header"><%= action_name.humanize %> <%= t('activerecord.models.topic.one')%></div>
      <div class="module_body">
        <%= f.input :title, :size => 75 %>
        <% unless @topic.id %>
          <%= f.input :body, as: :text, input_html: {:cols => 60, :rows => 15} %>
        <% end %>
        <%= f.submit t('actions.submit') %> <%= link_to t('actions.cancel'), @topic.nil? ?  @topic : @forum %>
      </div>
    </div>
  </div>
<% end %>
