<div class="right controls">
  <%= link_to t('forums.views.back_to_forums'), forums_path %>
  <%= link_to topic.forum.title.first(150).humanize, forum_path(topic.forum) %>
</div>
<br/>
<div class="module">
  <div class="module_header">
    <%= topic.title %>
    <span class="right controls">
      <%= render partial: "forum/actions", locals: {ref: "#{controller_name}_#{action_name}", obj: topic} %>
    </span>
  </div>
  <div>
    <table>
      <% posts.each do |post| %>
      <tr>
        <td class="post_author" rowspan="2">
          <span class="name"><%= post.user.username %></span><br/>
          <span class="avatar"><!-- This space reserved for Avatar --></span>
          <span class="info smaller">
            <%= t('forums.views.post_number') %> <%= post.user.posts.size %>
            <br />
            <%= t('forums.views.registered' )%> <%= l(post.user.created_at, format: :default) %>
            <br />
          </span>
        </td>
        <td class="post_header">
          <span class="left post_date smaller">
            <%= t('forums.views.posted_at')%> <%= l(post.created_at, format: :default) %>
          </span>
          <% if post.topic.locked? %>
            <span class="right controls">
              <%= t('forums.views.topic_locked') %>
            </span>
          <% elsif post.deleted? %>
            <span class="right controls">
              <%= link_to t('actions.reply'), new_topic_post_path(topic) %>
            </span>
          <% else %>
            <span class="right controls">
              <%= link_to t('actions.reply'), new_topic_post_path(topic) %>
              <%= link_to t('actions.quote'), new_topic_post_path(topic, :quote => post) %>
              <% if current_user == post.user %>
                <%= link_to t('actions.edit'), edit_post_path(post) %>
                <%= link_to t('actions.delete'), post, :data => {:confirm => t('confirm_deletion')}, :method => :delete %>
              <% end %>
            </span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="post_body">
          <% if !post.deleted %>
            <%= simple_format(post.body) %>
          <% else %>
            <%= t('forums.views.post_deleted') %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
