<div class="module">
  <div class="module_header">
    <%= action_name.humanize %> <%= t('activerecord.models.forum_category.one')%>
  </div>

  <%= simple_form_for @category do |f| %>
    <% if @category.errors.any? %>
      <% flash.now[:error] = @category.errors.full_messages.join(', ') %>
    <% end %>
    <%= f.input :title %>
    <%= f.input :position %>
    <%= f.input :state, as: :check_boxes %>
    <%= f.label :state %>
    <%= f.submit t('actions.submit') %> <%= link_to t('actions.cancel'), forums_path %>
  <% end %>
</div>
