<div class="right controls">
  <%= link_to t('forums.views.new_category'), new_forum_category_path %>
</div>
<br/>
<% @categories.each do |category| %>
  <div class="module">
    <div class="module_header">
      <%= category.title %>
      <span class="controls right smaller">
        <%= render partial: "forum/shared/actions", locals: {ref: "#{controller_name}_#{action_name}", obj: category} %>
      </span>
    </div>
    <% if category.forums.size > 0 %>
      <div>
        <table>
          <tr class="smaller">
            <th colspan="2" align="left"><%= t('activerecord.models.forum.one')%></th>
            <th><%= t('activerecord.models.topic.other')%></th>
            <th><%= t('activerecord.models.post.other')%></th>
            <th class="last_post" align="left"><%= t('activerecord.models.post.last')%></th>
          </tr>
          <% category.forums.each do |forum| %>
          <tr>
            <td class="icon"><%= image_tag 'ruby.png' %></td>
            <td class="description">
              <%= link_to forum.title, forum_path(forum) %><br />
              <span class="smaller"><%= forum.description %></span><br />
            </td>
            <td class="counts smaller"><%= forum.topics.size %></td>
            <td class="counts smaller"><%= forum.posts.size - forum.topics.size %></td>
            <td class="last_post smaller">
              <% if forum.posts.size > 0 %>
                <%= l(forum.posts.last.created_at, format: :default) %><br />
                <%= forum.posts.last.user.username %>
              <% else %>
                <%= t('forums.views.forum_empty') %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    <% else %>
      <div class="module_body"><%= t('forums.views.no_forums')%></div>
    <% end %>
  </div>
<% end %>
